@import "tailwindcss";

/* Dark-Light'ı Tailwind'e bağlı KALMADAN çalıştıran kesin çözüm */
html:not(.dark) body {
  background-color: #ffffff !important;
  color: #171717 !important;
}

html.dark body {
  background-color: #000000 !important;
  color: #ffffff !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color .3s ease, color .3s ease;
}
